@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <h2 class="form-signin-heading"> @ViewBag.LoginState </h2>
    <input type="email" name="inputMail3" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" name="inputPWD3" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
}